body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("img1.avif");
    background-size: 100%;
    text-align: justify;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919a8; /*opacity:80%*/
    text-align: center;
    border: 2px solid #0099ffcc;
    border-radius: 5px;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 250px;
    border-color:  #0099ffcc;;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 18px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: auto;
}

.box input[type="submit"]:hover {
    background: #0099ffcc;
}
.h3 {
    color: white;
}
